
.nav-link{
    margin-left: 40px;
}

.nithinKamath{
    text-decoration: none;
}

#supportHero{
    background-color: rgb(56, 126, 209);
    color: white;
}

#supportHero a{
    color: white;
}

#supportWrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

#supportHero input{
    padding: 15px 10px;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}